<%- include layouts/header.ejs %>

        <!-- Main content -->
        <main class="main">


            <div class="container-fluid">


            </div>
            <!-- /.conainer-fluid -->
        </main>

    </div>
<%- include layouts/footer.ejs %>
